@import "tailwindcss";


body {
 background-color: #FAFAFA;
 color: white;
}
header{
  display: flex;
  align-items: center;
  background-color: #111111;
  width: 100vw;
  height: 72px;
}
.container{
    width: calc(100% - 201px);
    height: 100%;    
    
    color: white;
    margin: 0 auto
  }
  header img{
    width: 50px;
    height: 50px;
    border-radius: 49%
  }
  .between{
    margin-top: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
  .links{
    display: flex;
    gap: 20px;
    transition:.3s;
  }
  .logo{
    display: flex;
    transition:.3s;
    align-items: center;
  }
.glass-header-text,.links a {
  font-family: 'Inter', sans-serif; 
  font-weight: 200;
  text-align: center;
  color: rgba(255, 255, 255, 0.85); 
  text-shadow: 
    0 0 15px rgba(255,255,255,0.3),
    0 8px 20px rgba(0,0,0,0.4); 
}

main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #111111;
}
.part1 h1{
  font-size: 45px;
  color: #333333;
  font-weight: 700;
}
.part3 h1{
   color: #333333;
  font-weight: 700;
  font-size: 45px;
}
.part2 img{
  width: 420px;
  height: 600px;
}
.social-icons{
  display:flex;
  gap:16px;
  margin-top:12px;
}

.social-icons a{
  font-size:22px;
  color:white;
  opacity:.85;
  transition:.3s;
}

.social-icons a:hover{
  opacity:1;
  transform:translateY(-3px);
}
.logo:hover{ 
  opacity:1;
  transform:translateY(-3px);
}
  .links a{
    transition:.3s;
  }
  .links a:hover{
 opacity:1;
  transform:translateY(-3px);
  }
  .cursor-light{
  position:fixed;
  top:0;
  left:0;
  width:300px;
  height:300px;
  pointer-events:none;
  background:radial-gradient(circle,
    rgba(255,255,255,.15) 0%,
    rgba(255,255,255,.05) 40%,
    transparent 70%);
  transform:translate(-50%, -50%);
  z-index:1;
}
