.glass-header-text,
.links a {
  
  font-weight: 200;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 8px 20px rgba(0, 0, 0, 0.4);
}
.container {
  width: calc(100% - 201px);
  height: 100%;
  color: white;
  margin: 0 auto;
}